<div id="navBar">
<div id="leftSide">
  <h1>{{titley}}</h1>
  <span>Board ID: {{boardId}}</span>
</div>

  <div id="RightSide">
    <a href="/boardsettings/{{boardId}}">
      <button>Edit board settings</button>
    </a>
    <br>
    <a href="/homepage">
      <button>Back to homepage</button>
    </a>
    <button onclick="showCreateTaskForm()">Create New Task</button>
  </div>
</div>

 <div id="errorDiv" class="error" style="display:none">Error</div>
 <div id="ajaxError" class="error"style="display:none"></div>
{{#if error}}
<div id="serverError" class="error"> {{e}}</div>
{{/if}}

{{!-- <a href="/boardSettings">Board Settings</a> --}}

<div id="todo-container" class="card" ondrop="drop(event, 'todo')" ondragover="allowDrop(event)">
  <h1>To-Do</h1>
  {{#each boardTodo}}
  <div id="{{this._id}}" class="container" draggable="true" ondragstart="drag(event)" data-task-id="{{this._id}}">
    <p>Name: {{this.taskName}}</p>
    <p>Deadline: {{this.deadline}}</p>
    <p>Estimated Time: {{this.estimatedTime}}</p>
  {{#if ../addpriority}}
    <p>Priority: {{this.priority}}</p>
  {{else}}
    <p>Difficulty: {{this.difficulty}}</p>
  {{/if}}
    <p>Description: {{this.description}}</p>
    <p>Assigned To: {{this.assignedTo}}</p>
    <button onclick="deleteTaskNow('{{this._id}}')">Delete Task</button>
    <button onclick="showUpdateTaskForm('{{this._id}}', '{{this.priority}}', '{{this.difficulty}}', '{{this.assignedTo}}', '{{this.taskName}}', '{{this.description}}')">
      Update Task</button>
    <button onclick="addTaskToCheckList('{{this._id}}')">Add To Checklist</button>
  </div>
  {{/each}}

</div>

<div id="error" class="error" style="display:none">Error</div>
 <div id="ajaxError" class="error"style="display:none"></div>
{{#if error}}
<div id="serverError" class="error"> {{e}}</div>
{{/if}}

<div class="card" ondrop="drop(event, 'inprogress')" ondragover="allowDrop(event)">
  <h1>In Progress</h1>
  {{#each boardProgress}}
  <div id="{{this._id}}" class="container" draggable="true" ondragstart="drag(event)" data-task-id="{{this._id}}">
    <p>Name: {{this.taskName}}</p>
    <p>Deadline: {{this.deadline}}</p>
    <p>Estimated Time: {{this.estimatedTime}}</p>
  {{#if ../addpriority}}
    <p>Priority: {{this.priority}}</p>
  {{else}}
    <p>Difficulty: {{this.difficulty}}</p>
  {{/if}}
    <p>Description: {{this.description}}</p>
    <p>Assigned To: {{this.assignedTo}}</p>
    <button onclick="deleteTaskNow('{{this._id}}')">Delete Task</button>
    <button onclick="showUpdateTaskForm('{{this._id}}', '{{this.priority}}', '{{this.difficulty}}', '{{this.assignedTo}}', '{{this.taskName}}', '{{this.description}}')">
      UpdateTask</button>
    <button onclick="addTaskToCheckList('{{this._id}}')">Add To Checklist</button>
  </div>
  {{/each}}

</div>

<div class="card" ondrop="drop(event, 'done')" ondragover="allowDrop(event)">
  <h1>Done</h1>
  {{#each boardDone}}
  <div id="{{this._id}}" class="container" draggable="true" ondragstart="drag(event)" data-task-id="{{this._id}}">
    <p>Name: {{this.taskName}}</p>
    <p>Deadline: {{this.deadline}}</p>
    <p>Estimated Time: {{this.estimatedTime}}</p>
  {{#if ../addpriority}}
    <p>Priority: {{this.priority}}</p>
  {{else}}
    <p>Difficulty: {{this.difficulty}}</p>
  {{/if}}
    <p>Description: {{this.description}}</p>
    <p>Assigned To: {{this.assignedTo}}</p>
    <button onclick="deleteTaskNow('{{this._id}}')">Delete Task</button>
    <button onclick="showUpdateTaskForm('{{this._id}}', '{{this.priority}}', '{{this.difficulty}}', '{{this.assignedTo}}', '{{this.taskName}}', '{{this.description}}')">
      UpdateTask</button>
    <button onclick="addTaskToCheckList('{{this._id}}')">Add To Checklist</button>
  </div>
  {{/each}}
</div>
<script src="../public/js/taskToChecklist.js"></script>
<script src="../public/js/dragAndDrop.js"></script>
<script src="../public/js/deleteTask.js"></script>

{{!-- js to make form appear --}}
<script>
  function showCreateTaskForm() {
    const createTask = document.getElementById("createTaskForm");
    if (createTask.style.display === "none") {
      createTask.style.display = "block";
    } else {
      createTask.style.display = "none";
    }
  }
</script>
{{!-- button to create task --}}

<br>

<div id="createTaskForm" style="display:none" class="settingsCard">
  <h2>Create Task</h2>
  <form action="/boards/{{boardId}}" id="create-task-form" method="POST">
    <label for="taskNameInput">Task Name</label><br>
    <input type="text" id="taskNameInput" name="taskNameInput" placeholder="Type task name here"><br>

    {{#if addpriority}}
    <label for="priorityInput">Priority</label><br>
    <input type="number" id="priorityInput" name="priorityInput" min="1" max="10"><br>
    {{else}}

    <label for="difficultyInput">Difficulty</label><br>
    <select name="difficultyInput" id="difficultyInput">
      <option value="veryEasy">Very Easy</option>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
      <option value="veryHard">Very Hard</option>
    </select><br>

    {{/if}}

    <label for="estimatedTimeInputH">Estimated Time</label><br>

    <input type="number" id="estimatedTimeInputH" name="estimatedTimeInputH" min="0" max="100"> hrs
    <input type="number" id="estimatedTimeInputM" name="estimatedTimeInputM" min="0" max="59"> min <br>

    <label for="deadlineInput">Deadline</label><br>
    <input type="datetime-local" id="deadlineInput" name="deadlineInput"><br>

    <label for="descriptionInput">Description</label><br>
    <textarea type="text" id="descriptionInput" name="descriptionInput" placeholder="Type description here"></textarea><br>

    <label for="assignedToInput">Assigned Users</label><br>
    <p>Type in usernames separated by commas</p>
    <input type="text" id="assignedToInput" name="assignedToInput" placeholder="Type here"><br>

    <button type="submit" id="add-task">Submit</button>
  </form>
</div>

{{!-- show task form when click button --}}
<script src="../public/js/updateTask.js"></script>

{{!-- form for updating task --}}
<div id="updateTaskForm" style="display:none" class="card">
  <h2>Update Task</h2>
  <form id="upTaskForm" method="POST">
    <label for="newtaskNameInput">Task Name</label><br>
    <input type="text" id="newtaskNameInput" name="newtaskNameInput" placeholder="New task name here"><br>

    {{#if addpriority}}
    <label for="newPriorityInput">Priority</label><br>
    <input type="number" id="newPriorityInput" name="newPriorityInput" min="1" max="10"><br>
    {{else}}

    <label for="newDifficultyInput">Difficulty</label><br>
    <select name="newDifficultyInput" id="newDifficultyInput">
      <option value="veryEasy">Very Easy</option>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
      <option value="veryHard">Very Hard</option>
    </select><br>

    {{/if}}

    <label for="newEstimatedTimeInputH">Estimated Time</label><br>

    <input type="number" id="newEstimatedTimeInputH" name="newEstimatedTimeInputH" min="0" max="100"> hrs
    <input type="number" id="newEstimatedTimeInputM" name="newEstimatedTimeInputM" min="0" max="59"> min <br>

    <label for="newDeadlineInput">Deadline</label><br>
    <input type="datetime-local" id="newDeadlineInput" name="newDeadlineInput"><br>

    <label for="newDescriptionInput">Description</label><br>
    <input type="text" id="newDescriptionInput" name="newDescriptionInput" placeholder="New description here"><br>

      <label for="newAssignedToInput">Assigned Users</label><br>
      <p>Type in usernames separated by commas</p>
      <input type="text" id="newAssignedToInput" name="newAssignedToInput" placeholder="Type here" value={{currentUser}}><br>

    <button id="update-task-btn" onclick="updateIt()" type="button">Submit</button>
  </form>
</div>

<script src="../public/js/createTask.js"></script>