<div id="navBar">
    <div id="leftSide">
        <h1>{{titley}}</h1>
        <h2>Welcome, {{user}}.</h2>
    </div>
    <div id="RightSide">
        <a id="userSettings" href="/usersettings">
            <button class="navButton">User Settings</button>
        </a>
            <a href="/logout">
                <button class="navButton">Logout</button>
            </a>
    </div>
</div>





<br>


<div id="userBoards" class="card">
    <h2>Boards</h2>
        {{#each userBoards}}

        <div id="{{this._id}}" class="container">
            {{boardName}}
            <br>
            <a href="/boards/{{_id}}">
                <button class="boardButton">Open</button>
            </a>
        </div>
        {{/each}}

</div>


<div id="sharedBoards" class="card">
    <h2>Shared Boards</h2>
        {{#each sharedBoards}}
            {{boardName}}
            <a href="/boards/{{_id}}">
                <button class="boardButton">Open</button>
            </a>
        {{/each}}

</div>


<div class="card">
    <div id="userChecklist">
        <h2>Checklist</h2>
        <ul>
            {{#each checklist}}
            <div id="{{this._id}}" class="container">
                <div>
                    <label for={{taskId}}>{{taskName}}</label>
                    <input type="checkbox" id={{taskId}} class="checklistItem">
                    <br>
                </div>
            </div>
            {{/each}}
        </ul>
    <!--<button type="submit" id="checklistButton">Mark tasks as completed</button>-->
    </div>
</div>
<br>

<script>
    function showCreateBoard() {
        const createBoardForm = document.getElementById("createBoard");
        if (createBoardForm.style.display === "none") {
            createBoardForm.style.display = "block";
        } else {
            createBoardForm.style.display = "none";
        }
    }
</script>

<div id="error" class="error" hidden> Hello</div>
{{#if error}}
<div id="serverError" class="error"> {{e}}</div>
{{/if}}
<br>
<button onclick="showCreateBoard()">Create New Board</button>
<br>
<div id="createBoard" style="display:none">
    <h2>Create New Board</h2>
    <form action="/homepage" method="POST" id="create-board-form">
        <label for="boardNameInput" id="board_name_label">
            Enter board name:
            <input type="text" id="boardNameInput" name="boardNameInput">
        </label>
        <br>
        <label for="boardPasswordInput" id="board_password_label">
            Enter board password:
            <input type="password" id="boardPasswordInput" name="boardPasswordInput">
        </label>
        <br>
        <label for="boardConfirmPasswordInput" id="board_confirm_password_label">
            Confirm board password:
            <input type="password" id="boardConfirmPasswordInput" name="boardConfirmPasswordInput">
        </label>
        <br>
        <label for="sortingInput" id="sorting_label">
            Scheduling style:
            <select name="sortingInput" id="sortingInput">
                <option value="true">Priority based scheduling</option>
                <option value="false">Difficulty based scheduling</option>
            </select>
        </label>
        <br>
        <label for="sortOrderInput" id="sort_order_label" style="display:none">
            Sort order:
            <select name="sortOrderInput" id="sortOrderInput">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </label>
        <br>
        <button type="submit">Create</button>
    </form>
</div>
<br>
<script src="../../public/js/checklist.js"></script>
<script>
    let priority = document.getElementById('sortingInput');
    let sortOrder = document.getElementById('sort_order_label');
    priority.addEventListener('change', function () {
        if (priority.value === 'false') {
            sortOrder.style.display = "block";
        } else {
            sortOrder.style.display = "none";
        }
    });
</script>

<script>
    function showJoinBoard() {
        const joinBoardForm = document.getElementById("joinBoard");
        if (joinBoardForm.style.display === "none") {
            joinBoardForm.style.display = "block";
        } else {
            joinBoardForm.style.display = "none";
        }
    }
</script>

<button onclick="showJoinBoard()">Join Existing Board</button>
<br>

<div id="joinBoard" style="display:none">
    <h2>Join Existing Board</h2>
    <form action="/homepage/searchresult" method="POST" id="search-board-form">
        <label for="searchBoardIdInput" id="search_board_id_label">
            Enter board ID:
            <input type="text" id="searchBoardIdInput" name="searchBoardIdInput">
        </label>
        <br>
        <label for="searchBoardPasswordInput" id="search_board_password_label">
            Enter board password:
            <input type="password" id="searchBoardPasswordInput" name="searchBoardPasswordInput">
        </label>
        <br>
        <button type="submit">Search</button>
    </form>

</div>

<script src="../public/js/createBoard.js"></script>
<script src="../public/js/searchBoard.js"></script>

<br>

